<section id="pricing" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">
    <div class="container">
      <div class="center-form panel">
        <div class="panel-body">
        <h4 class="text-center"><i class="fa fa-user-plus mgr-5" aria-hidden="true"></i>Sign Up</h4>
        <form [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm.value)">
          <div class="form-control">
              <span class="fa fa-user form-control-icon mgt-15"></span>
              <input type="text" class="form-control form-names input-lg" name="firstname" placeholder="First Name" formControlName="firstName">
              <input type="text" class="form-control form-names input-lg" name="lastname" placeholder="Last Name" formControlName="lastName">
          </div>
          <div class="form-control">
            <span class="fa fa-envelope form-control-icon"></span>
            <input type="text" class="form-control input-lg" name="email" placeholder="Email" formControlName="email">
          </div>

          <div class="form-control">
              <span class="fa fa-key form-control-icon"></span>
              <input type="password" class="form-control input-lg" name="password" placeholder="Password" formControlName="password">
             
          </div>

          <button type="submit" class="btn btn-block btn-success">Sign Up</button>

          <p class="text-center">
            <small>Already have an account!<a routerLink="/Login">Login</a></small>
          </p>
        </form>
      </div>
      </div>
    </div>
  </div>
</section>
